body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.ledger-table {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}
.ledger-table tr,
td {
    border: 1px solid black;
    width: fit-content;
    padding: 0 10px 0 10px;
}

.default-button {
    height: 32px;
    border: none;
    background-color: rgb(56, 56, 56);
    color: white;
    border-radius: 4px;
}
.default-button:hover {
    background-color: rgb(26, 26, 26);
}
.default-button:disabled {
    opacity: 30%;
}

.input-panel {
    background-color: rgb(245, 245, 245);
    padding: 10px;
    border-radius: 4px;
}
.journal-panel {
    background-color: rgb(245, 245, 245);
    padding: 10px;
    border-radius: 4px;
}
.ledger-panel {
    background-color: rgb(245, 245, 245);
    padding: 10px;
    border-radius: 4px;
}
.margin10px {
    margin: 10px;
}
.display-flex {
    display: flex;
}
.row {
    flex-flow: row;
}
.width100p {
    width: 100%;
}
.height100p {
    height: 100%;
}
.height100v {
    height: 90vh;
}
.justifycontentsb {
    justify-content: space-between;
}
.justifycontentc {
    justify-content: center;
}
.aligncontentc {
    align-items: center;
}
.dflexrow {
    display: flex;
    flex-direction: row;
}
.dflexcolumn {
    display: flex;
    flex-direction: column;
}
.flexgrow1 {
    flex-grow: 1;
}
.flexwrap {
    flex-wrap: wrap;
}

.c1 {
    width: 50%;
}
.c2 {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .dflexrow {
        display: flex;
        flex-direction: column;
    }
    .c1 {
        width: 100%;
    }
    .c2 {
        width: 100%;
    }
}
